<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employee Management System</title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
body {
	background-color: #f1eaef;
}
</style>

</head>
<body
        style="max-width: 960px; margin: 16px auto; padding: 16px; background-color: light">
<h3>Delete Employee</h3>
<form th:action="@{/deleteEmployee}" th:object="${employee}"
      th:method="delete">
  <div class="row">
    <div class="input-field col s6">
      <input id="employee_no" type="number" class="validate"
             th:value="${eno}" th:name="eno" required> <label
            for="employee_no">Enter Employee Number</label>
    </div>
    <br> <input type="submit" value="Delete Employee">
  </div>
</form>
<br>
<a th:href="@{/}" class="blue-text">Back</a>
</body>
</html>